<section class="scroll-section">
  <div id="about">
    <div class="profile-pic d-flex">
      <%= image_tag "me3.png" %>
      <p>
        i love to create and design so i was naturally drawn to web development.
        <span> i first dabbled in it when i was a senior in college.</span>
        <span> recently, i completed a full-time coding program in tokyo, japan.</span>
      </p>
    </div>
  </div>
</section>
