<%# <div class="row my-5">
  <div class="col-12">
    <div class="container"> %>
<section class="scroll-section">
  <div id="about">
    <div class="profile-pic">
      <%= image_tag "me3.png" %>
    </div>
    <p>
      i first dabbled in web development when i was a senior in college.
      i love to create and design so i naturally gravitated towards the subject.
      recently, i completed a full-time coding program in tokyo, japan.
    </p>
  </div>
</div>
</section>
<%# </div>
  </div>
</div> %>
