<%# <div class="row my-5">
  <div class="col-12">
    <div class="container"> %>
<section class="scroll-section">
  <div id="about">
    <div class="profile-pic d-flex">
      <%= image_tag "me3.png" %>
      <p>
        i love to create and design so i was naturally drawn to web development.
        i first dabbled in it when i was a senior in college.
        recently, i completed a full-time coding program in tokyo, japan.
      </p>
    </div>
  </div>
</section>
<%# </div>
  </div>
</div> %>
