<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="banner-text">
      <p>
        hello! my name is <span class="scroll-text" id="span1">phyu phyu</span>.
        i am a <span class="scroll-text" id="span2">web developer</span> from myanmar.
        this is my personal <span class="scroll-text" id="span3">portfolio</span>.
      </p>
    </div>
  </div>
</div>
