<div class="banner">
  <div class="banner-text">
    <h1>
      hello! my name is <span class="span-text">phyu phyu</span>.
      i am a <span class="span-text">web developer</span> from myanmar.
      this is my personal <span class="span-text">portfolio</span>.
    </h1>
  </div>
</div>
