// Specific CSS for your home-page
// body {
//   background-image: var(--bs-gradient);
// }
.content {
  // margin-top: 90vh;
}

.scroll-section {
  height: 180vh;
  position: relative;

  #about {
    width: 200vw;
    position: fixed;
    top: 62%;
    // transform: translateY(-50%);
    left: 100%;
    white-space: nowrap;
    transition: left 0.5s east-out;

    .profile-pic {
      width: 100%;
      height: 280px;
      overflow: hidden;
      align-items: center;

      img {
        width: 220px;
        object-fit: cover;
      }
      p {
        white-space: normal;
        // background-color: $aureolin;
        color: $subtitleyellow;
        line-height: 1.1;
        font-size: 1.7rem;
        margin-left: -60px;
      }
    }

  }
}

#projects {
  margin-top: 100vh;
}
