// Specific CSS for your home-page
html, body {
  scroll-behavior: smooth;
}

.content {
  margin-top: 90vh;
}

// About
#about {
  z-index: 100;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  perspective: 800px;

  .about-card {
    z-index: 20;
    width: 300px;
    height: 400px;
    background-color: $alabaster;
    box-shadow: 0 1px 5px rgba($alabaster, 10%);
    border: 1px solid $alabaster;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.6s ease-out;
    transform-origin: center;
    margin-left: 20px;

    img {
      width: 100%;
      height: fit-content;
      object-fit: cover;
      align-self: end;
    }

    .about-text {
      color: $ruddy-blue;
      line-height: 1.1;
      text-wrap: pretty;
      font-size: calc(1.255rem + 0.2vw);

      span:first-of-type {
        color: $blue-gray;
      }
      span:nth-of-type(2) {
        color: $steel-blue;
      }
    }

    &.card-left {
      transform: translateY(20px) scale(0.95) rotateX(10deg) rotateY(-10deg);
    }

    &.card-right {
      padding: 10px;
      transform: translateY(100px) scale(0.90) rotateX(10deg) rotateY(10deg);
    }

    &.active {
      transform: translateY(0) rotateX(0deg) rotateY(0deg) scale(1);
    }
  }

}


// Projects
#projects {
  padding-top: 20vh;
  // position: relative;

  .masked-text {
    background-color: transparent;
    overflow: hidden;
    // margin-bottom: 100px;

    h2 {
      color: transparent;
      font-weight: 800;
      font-size: calc(2.5rem + 1.62vw);
      margin-bottom: 0px;
      background-image: url('../../images/sky1.jpg');
      background-position: 0 50%;
      background-size: 200%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate-background 5s infinite alternate linear;
    }

    @keyframes animate-background {
        0% {
            background-position: 0 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }
  }

  #clouds {
    width: 100vw;
    margin: -150px calc(50% - 50vw) 0;
    z-index: 5;
    position: sticky;
    bottom: 0;

    img {
      width: 100%;
      opacity: 0.9;
    }
  }

  .project {
    margin-top: 200px;
    z-index: 100;
  }
}
