// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;

$ruddy-blue: #85ABD5;
$airforce-blue: #5986A8;
$baby-blue: #cbf3f0;
$moonrise: #43c0d9;
$moonstone: #42a5b9;
$skyblue: #7DB9CA;
$cobalt-blue: #003399;
$prussian-blue: #003566;
$mediumblue: #0000CD;
$royalblue: #0018a8;
$polynesianblue: #00509d;
$jet: #2B2C28;
$lighter-jet: #343630;
$subtitleyellow: #ffd60a;
$aureolin: #F9E42F;
$naplesyellow: #FFE770;
$flax: #FFEE8E;
$alabaster: #EFEFE6;
$ivory: #F7F7ED;
